* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #52599d;
    --secondary-color: #9c95ca;
    --tertiary-color: #c8c8e2;
    --primary-bg: #e6e6f1;
    --primary-textcolor: white;
    --secondary-textcolor: black;

}

@view-transition {
    navigation: auto;
}



h1,
h2 {
    color: white;
}

body {
    background-color: var(--primary-bg);
    font-family: 'DM Sans', sans-serif;
}

header {
    background-color: white;
    height: auto;
    width: auto;
}

.index-grid {
    @media(min-width: 45em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 55em) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

.city-container {
    width: 330px;
    background-color: var(--primary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.city-img {
    border-radius: 16px;

}

.tabs-container {
    display: flex;
    margin-bottom: -33px;
    margin-left: -156px;

    @media(min-width: 45em) {
        margin-left: -456px;
    }


    @media (min-width: 85em) {
        margin-left: -456px;
    }
}

.tab {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 30px;
    text-align: center;
    width: 107px;
    z-index: 0;

    &:hover {
        background-color: var(--tertiary-color);
    }

    &.active {
        background-color: var(--primary-color);
        position: relative;
        z-index: 1;
    }
}

li {
    color: white;
    margin-top: 20px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.ctc-logo {
    object-fit: contain;
    width: 108px;
    height: 37px;
    margin: 8px;
}

.card {
    align-items: center;
    background: var(--primary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 370px;
    padding-top: 5px;
    position: relative;
    z-index: 1;

    @media (min-width: 45em) {
        width: 670px;
    }

    @media (min-width: 85em) {}

}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.total-data {
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 117px;
    justify-content: center;
    margin: 20px;
    width: 90%;
}



.location {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.breadcrumb {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--secondary-color);
    font-size: clamp(0.75rem, 2vw, 1rem);
    margin: 8px;
    font-weight: bold;
}

.breadcrumb a {
    color: var(--secondary-color);
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--primary-color);
}


.tab-content {
    display: none;
}


#analytics {
    display: block;

    @media (min-width: 45em) {
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    @media (min-width: 85em) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }
}

#locaties:target {
    display: flex;


    @media (min-width: 45em) {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    @media (min-width: 85em) {}
}

.card-container:has(#locaties:target) #analytics {
    display: none;
}

#analytics:target {
    display: flex;

    @media (min-width: 45em) {
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    @media (min-width: 85em) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }
}

.location-card {
    margin: 10px;
    margin-top: 14px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 16px;
    ;
}

#locaties {
    background-color: var(--secondary-color);
}

img {
    height: 130px;
    object-fit: cover;
    width: auto;
}

.add-button {
    border-radius: 38px;
    background-color: var(--primary-color);
    color: white;
    height: 61px;
    width: 70px;
    text-align: center;

}

.tag {
    background-color: var(--tertiary-color);
    border-radius: 16px;
    height: auto;
    padding: 5px;
    text-align: center;
    width: auto;
}

.data {
    display: flex;
    flex-direction: column;
}

.chart {
    background: conic-gradient(#E6E6F1 45%, #9C95CA 0deg 70%, #C8C8E2 0deg);
    border-radius: 50%;
    margin: 10px;
    padding-top: 50%;
    padding-right: 20px;
    width: 50%;
}

form {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    padding: 10px;
    width: 330px;
}

textarea[name="address"] {
    grid-column: 1/-1;
    width: 100%;
}

textarea[name="comment"] {
    grid-column: 1/-1;
    height: auto;
}

button {
    height: 38px;
    border-radius: 16px;
    background-color: var(--tertiary-color);
    border: none;
    color: var(--primary-color);
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        scale: 1.15;
    }
}

.upload-dummy {
    background-color: rgb(206, 206, 206);
    border-radius: 16px;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 330px;
}

.form-input,
textarea {
    background-color: var(--tertiary-color);
    border-radius: 16px;
    border: none;
    height: 38px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: black;
    height: auto;
    width: auto;

}