* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #52599d;
    --secondary-color: #9c95ca;
    --tertiary-color: #c8c8e2;
    --accent-color: #2f2f2e;
    --primary-bg: #e6e6f1;
    --primary-textcolor: white;
    --secondary-textcolor: black;

}

html {
    @media(prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;

        @view-transition {
            navigation: auto;
        }
    }
}

h1,
h2 {
    color: var(--primary-textcolor);
}

body {
    background-color: var(--primary-bg);
    font-family: 'DM Sans', sans-serif;
}

main {
    margin: 10px;
}



header {
    background-color: var(--primary-textcolor);
    height: auto;
    width: auto;
}

.index-grid {
    @media(min-width: 45em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 55em) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

.city-container {
    width: 330px;
    background-color: var(--primary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        transform: translateY(-12px) scale(1.02);
        /* Card komt omhoog en wordt iets groter */
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }
}



.tabs-container {
    display: flex;
    margin-bottom: -33px;
    margin-left: -141px;

    @media(min-width: 45em) {
        margin-left: -456px;
    }


    @media (min-width: 85em) {
        margin-left: -456px;
    }
}

.tab {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--primary-textcolor);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    padding-bottom: 30px;
    text-align: center;
    width: 107px;
    z-index: 0;

    &:hover {
        transform: translateY(-10px);
    }

    &.active {
        background-color: var(--primary-color);
        position: relative;
        z-index: 1;
    }
}

dt {
    color: var(--primary-textcolor);
    margin-top: 20px;
    list-style: none;
}

a {
    color: var(--primary-textcolor);
    text-decoration: none;
}

.ctc-logo {
    object-fit: contain;
    width: 108px;
    height: 37px;
    margin: 8px;
}

.card {
    align-items: center;
    background: var(--primary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 10px;
    width: 355px;
    padding-top: 5px;
    position: relative;
    z-index: 1;

    @media (min-width: 45em) {
        width: 670px;
        margin-inline: auto;
    }

    @media (min-width: 85em) {
        margin-inline: auto;
    }
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.total-data {
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 117px;
    justify-content: center;
    margin: 20px;
    width: 90%;
}



.location {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.breadcrumb {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--secondary-color);
    font-size: clamp(0.75rem, 2vw, 1rem);
    margin: 8px;
    font-weight: bold;
}

.breadcrumb a {
    color: var(--secondary-color);
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--primary-color);
}


.tab-content {
    display: none;
}


#analytics {
    display: block;

    @media (min-width: 45em) {
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    @media (min-width: 85em) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

#locaties:target {
    display: flex;


    @media (min-width: 45em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    @media (min-width: 85em) {}
}

.card-container:has(#locaties:target) #analytics {
    display: none;
}

#analytics:target {
    display: flex;

    @media (min-width: 45em) {
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    @media (min-width: 85em) {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

.location-card {
    width: 90%;
    margin: 10px;
    margin-top: 14px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 16px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        transform: translateY(-12px) scale(1.02);
        /* Card komt omhoog en wordt iets groter */
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    }
}

.city-img {
    border-radius: 16px;
    width: 100%;
}

#locaties {
    background-color: var(--secondary-color);
}

img {
    height: 130px;
    object-fit: cover;
    width: auto;
}

.detail-img {
    border-radius: 16px;
    width: 100%;
    height: 85%;
}

.add-button {
    border-radius: 38px;
    background-color: var(--primary-color);
    color: var(--primary-textcolor);
    height: 38px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: 0.5s ease-in-out;

    &:hover {
        background-color: var(--tertiary-color);
        color: var(--accent-color);
        scale: 1.15;
    }

}

.tag {
    background-color: var(--tertiary-color);
    border-radius: 16px;
    height: auto;
    padding: 5px;
    text-align: center;
    width: auto;
}

.data {
    width: 330px;
    margin-bottom: 10px;

    @media (min-width: 45em) {}
}


.chart {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(var(--primary-bg) 0% var(--valid),
            var(--accent-color)var(--valid) var(--neutral),
            var(--secondary-color) var(--neutral) var(--invalid));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chart-legend {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--tertiary-color);
    border-radius: 16px;
    height: 117px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legend-color {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    flex-shrink: 0;
}

form {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    padding: 10px;
    width: 330px;
}

textarea[name="address"] {
    grid-column: 1/-1;
    width: 100%;
}

textarea[name="comment"] {
    grid-column: 1/-1;
    height: auto;
}

.cities {
    grid-column: 1/-1;
}

button {
    height: 38px;
    border-radius: 16px;
    background-color: var(--tertiary-color);
    border: none;
    color: var(--accent-color);
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-bg);
        scale: 1.15;
    }
}

.upload-dummy {
    background-color: rgb(206, 206, 206);
    border-radius: 16px;
    height: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 330px;
}

.form-input,
textarea {
    background-color: var(--tertiary-color);
    border-radius: 16px;
    border: none;
    height: 38px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

footer {
    background-color: var(--secondary-textcolor);
    height: auto;
    width: auto;
}